body {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

a {
  color: #242424;

  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #f9f8ff;
}

li,
p {
  color: #f9f8ff;
}

p {
  font-weight: 1.1em;
}

em {
  font-style: normal;
  color: #a5b4fc;
}

header,
footer {
  background-color: white;
}
.degrade {
  color: white;
  background: linear-gradient(90deg, #8e86b5, #acaeed);
  border-radius: 50px;
}
.degrade:hover {
  background: linear-gradient(90deg, #696484, #8788ba);
  text-decoration: none;
}

.border {
  border-right: 1px solid #a5b4fc;
  border-bottom: 1px solid #a5b4fc;
}
.icone:hover {
  opacity: 0.5;
}
